@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* global */
body {
  margin: 0;
}

/* header */
header.navbar-fixed-top {
  border-width: 0px;
  .navbar-default
  {
    border-radius: 1px;
    background-color: #26408E;
    border-color: #26408E;
    .navbar-left {
      li {
        float: none;
        margin-left: 38px;
        text-align: center;
        color: #90C6FB;
        font-style: italic;
        font-size: 18px;
        img {
          width: 68px;
          height: 68px;
        }
      }
    }
    .navbar-right {
      margin: 23px 80px 0 0;
      li {
        a {
          color: #90C6FB;
          &:hover {
            color: #FFF;
          }
        }
      }
      .dropdown-menu {
        li {
          text-align: center;
          a:hover {
            color: #90C6FB;
          }

        }
      }
    }
  }
}



/* content */
.container {
  margin: 140px auto;
  height: 300px;
  padding: 0px;
  width: 68%;
  background-color: inherit;
  .col-md-offset-2
  {
    height: 280px;
  }
  h3 {
    text-align: center;
  }
  pre {
    background-color: inherit;
  }
  p {
      text-align: center;
  }
}


/* footer */
footer {
  position: relative;
  clear: both;
  margin: 60px auto 0px;
  width: 80%;
  height: 28px;
  ul {
    li {
      list-style: none;
      a {
        color: #000;
      }
    }
    .col-md-2 {
      text-align: center;
    }
  }
}


/* form */
.panel-default {
  border-color: #26408E;
  .btn {
    background-color: #26408E;
  }
  .panel-heading {
    background-color: #26408E;
    h5 {
      text-align: center;
      font-size: 20px;
      color: #FFF;
    }
  }
}

.form-control {
  padding-left: 38px;
  border-color: #26408E;
}

#id-number {
  background-image: url(/images/username.jpg);
  background-repeat: no-repeat;
}

#id-passwd {
  background-image: url(/images/password.jpg);
  background-repeat: no-repeat;
}
