@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* global */
table {
  th {
    text-align: center;
  }
  tr {
    td {
      text-align: center;
    }
  }
}


/* header */
header.navbar-fixed-top {
  border-width: 0px;
  .navbar-default
  {
    border-radius: 1px;
    background-color: #26408E;
    border-color: #26408E;
    .navbar-left {
      li {
        float: none;
        margin-left: 38px;
        text-align: center;
        color: #90C6FB;
        font-style: italic;
        font-size: 18px;
        a {
          padding: 0px;
          img {
            width: 68px;
            height: 68px;
          }
        }
      }
    }
    .navbar-right {
      margin: 23px 80px 0 0;
      li {
        a {
          color: #90C6FB;
          &:hover {
            color: #FFF;
          }
        }
      }
      .dropdown-menu {
        li {
          text-align: center;
          a:hover {
            color: #90C6FB;
          }

        }
      }
    }
  }
}



/* content */
.container {
  margin: 140px auto 0;
  padding: 0px;
  width: 100%;
  height: 380px;
  background-color: inherit;
  .col-md-offset-2
  {
    float: none;
  }
  h1, h3 {
    text-align: center;
  }
  pre {
    background-color: inherit;
  }
  p {
      text-align: center;
  }
}


/* home */
.container {
  .top {
    height: 15%;
    background-color: #ccc;
    .col-md-11, .col-md-1 {
      height: 100%;
    }
  }
  .middle {
    height: 70%;
    .middle-left, .middle-right{
      background-color: #00FFFF;
      height: 100%;
    }
    .middle-center {
      height: 100%;
    }
  }
  .bottom {
    height: 15%;
    background-color: #959595;
  }
}


/* footer */
footer {
  position: relative;
  clear: both;
  margin: auto;
  width: 80%;
  height: 28px;
  ul {
    li {
      list-style: none;
      a {
        color: #000;
      }
    }
    .col-md-2 {
      text-align: center;
    }
  }
}


/* form */
.panel-default {
  border-color: #26408E;
  .btn {
    background-color: #26408E;
  }
  .panel-heading {
    background-color: #26408E;
    h5 {
      text-align: center;
      font-size: 20px;
      color: #FFF;
    }
  }
}

#signin {
  .form-control {
    padding-left: 38px;
    border-color: #26408E;
  }
}

#id-number {
  background-image: url(/images/username.jpg);
  background-repeat: no-repeat;
}

#id-passwd {
  background-image: url(/images/password.jpg);
  background-repeat: no-repeat;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6FA;
  }
}

.create-btn, .modify-btn, .delete-btn {
  float: right;
  position: relative;
  right: 0;
}
