@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* global */


/* header */
header {
  height: 120px;
  background-color: #4857E8;
  ul{
    height: 100%;

    li {
      list-style: none;
      height: 100%;
      a {
        display: block;
        margin: 10px auto 0;
        width: 60%;
      }
    }
    .col-md-9 {
      padding-left: 50%;
      div{
        height: 50%;
        margin: auto;
        text-align: center;
        line-height: 75px;
        a {
          color: #90C6FB;
          font-size: 20px;
          &:hover {
            color: #337ab7;
          }
        }
          img {
            width: 18px;
            height: 18px;
          }
        }
    }
  }
}

#logo {
  width: 68px;
  height: 68px;
}

#sitename {
  display: block;
  width: 88%;
  color: #00008B;
  font-size: 20px;
  font-style: italic;
  margin: auto;
}



/* content */
.jumbotron {
  margin: 40px auto;
  width: 50%;
  height: 250px;
  padding: 0px;
  background-color: inherit;;
  h3 {
    text-align: center;
  }
  pre {
    background-color: inherit;
  }
}


/* footer */
footer {
  margin: 50px auto 0px;
  width: 80%;
  height: 28px;
  ul {
    li {
      list-style: none;
    }
    .divider {
      background-color: #eee;
      height: 1px;
    }
    .col-md-1 {
      float: right;
      text-align: center;
      a {
        color: #000;
        &:hover {
          color: #337ab7;
        }
      }
    }
  }
}